frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env.local
frontend/.env.*.local
frontend/*.log

.env
.DS_Store
.vscode/
.idea/
*.bak
*.tmp
*.log

backend/*/bin/
backend/*/obj/
backend/*/appsettings.Development.json
backend/IntelliDocBackend/images
backend/IntelliDocBackend/uploads
*.csproj.user
*.suo
*.cache
*.sln.docstates