frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env.local
frontend/.env.*.local
frontend/*.log

.env
.DS_Store
.vscode/
.idea/
*.bak
*.tmp
*.log

backend/*/bin/
backend/*/obj/
backend/*/appsettings.Development.json
backend/IntelliDocBackend/images
backend/IntelliDocBackend/uploads
*.csproj.user
*.suo
*.cache
*.sln.docstates

ai_service/venv/
ai_service/__pycache__/
ai_service/*/__pycache__/
ai_service/*/*/__pycache__/

ai_service/*.pyc
ai_service/*.pyo
ai_service/*.pyd
ai_service/.Python

ai_service/models/*.pt

ai_service/models/*.pth
ai_service/models/*.onnx
ai_service/models/*.bin
ai_service/models/*.safetensors
ai_service/yolov8x.pt
ai_service/models/yolov8x.pt
